<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1 !^(index\.php|light|assets|css|images|robots\.txt)
RewriteRule ^(.*)$ main.php/$1 [L]
</IfModule>